:root{
    --primary:#fc466a5e;
    --secondary: #3f5efb59;
}

*{
    margin: 0;
    padding: 0;
}

.title{
   
    display: inline-block;
    color: white;
    font-size: 50px;
    padding-left: 30px;
}

nav ul li{
    margin-top: 40px;
    display: inline-block;

}
nav ul li a{
    transition: .5s;
    margin: 30px 20px;
    text-decoration: none;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 20px;
    color: black;
    position: relative;
}
nav .links{
    float: right;
    text-align: right;
}
nav ul li a::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 0.175rem;
    left: 0;
    bottom: 0;
    background: #0a22fad2;

}
nav ul li a::after{
    transform: scale(0,1);
    transition: transform 0.3s ease;
}
nav ul li a:hover::after{
    transform: scale(1,1);
}
nav{
    align-items: center;
    display: block;
    background-color: rgba(255, 255, 255, 0.205);
    padding-bottom:0px;   
    
}
nav h3{
    display: inline-block;
    font-size: 50px;
    margin-bottom: 10px;
    color: white;
}
.content button{
    
    justify-content: center;
    align-items: center;
    text-align: center;
    transform: translate(150px,400px);
}
.content .buttons .viewmore{

    margin-left: 300px;
    color: white;
    font-weight: 600;
    padding: 20px 60px;
    border: 1px solid white;
    font-size: 28px;
   background: linear-gradient(90deg,#fc9221,#ffffff);
    border-radius: 50px;

}
.content .buttons .aboutus{

    
    margin-left:100px ;
    color: white;
    font-weight: 600;
    padding: 20px 60px;
    border: 1px solid white;
    font-size: 28px;
    background: linear-gradient(90deg,#fc9221,#ffffff);
    border-radius: 50px;

}
.content .buttons button{
    transition: 1s;
}
.content .buttons button:hover{
    cursor:pointer;
    background: rgba(0, 255, 255, 0.5);
}
.content h1{
    text-shadow: 10px 10px 20px black;
    text-align: center;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    transform: translate(20px,50px);
}
.content{
    width: fix-content;
    height: 600px;
}
.container{
    background: linear-gradient(90deg,#fc9221,#ffffff);
    display: flex;
    width: 100%;
    height: 700px;

}
.container img{
    box-shadow: 5px 5px 10px black;
    border-radius: 40px;
    margin-left: 30px;
    margin-top: 50px;
    width: 400px;
    height: 300px;
    transition: transform .2s;
}
.container .matter{
    margin-left: 100px;
    margin-top: 50px;
    width: 800px;
    height: 70vh;
   
}
.container img:hover{
    transform: scale(1.05);
    box-shadow: 15px 15px 30px black ;
}
.container p{
    padding: 100px;
    border-radius: 50%;
    border: 5px solid rgba(0, 0, 0, 0.219);
    transform: translate(70px,0px);
    margin-left: 40px;
    font-size: 20px ;
}
.container p::before{
    content: '';
    position: absolute;
    bottom: -15%;
    left: 5%;
    width: 90%;
    height: 3%;
    background: rgba(0,0,0,0.3);
    z-index: -1;
    filter: blur(20px);

}