h1{
    font-size: 70px;
    align-items: center;
    text-align: center;
    transform: translate(0px,10px);
}

body{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ,url('mentor_home.jpg');
    background-size: cover;
    
}
nav ul li a{
    border: 1px solid rgba(255, 255, 255, 0.534);
    color: white;
    text-decoration: none;
    padding: 20px 30px 20px 30px;
    margin-left: 5px;
    font-size: 20px;
    transition: 0.5s;
}
nav ul li{
    list-style: none;
    display: inline-block;
}
nav ul{
    padding-top: 30px;
    margin-right: 30px;
    text-align: right;
    display: block;
}
nav ul li a:hover{
    background: white;
    color: black;

}

