form {
  border: 3px solid #f1f1f1;
  height:30%;
  width:50%;
  transform:translate(50%,20%);
}
hr{
            border-top: 2px solid #8c8b8b;}
.top{

    background: #FF7110 !important;
    border-bottom: 1px solid #000;
}
/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
label{
    color:white;
}

/* Set a style for all buttons */
.sub {
  background-color: orange;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
  width: 40%;
  border-radius: 50%;
}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}
.sec_head{
text-align: center;
font-size: 22px;
background: #FF7110;
padding: 10px;
margin: 0 auto;
color: #FFF;
font-family: 'Roboto Condensed', sans-serif;
font-weight: 500;
text-transform: uppercase;
letter-spacing: 0.5px;
width: 100%;
position: relative;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}