body{
                background:white;
}
h1{

    color: black;
    font-size: 50px;
    text-align: center;
}
label{
color:white;
font-size:30px;

}
nav{
    float: right;

}
ul{

}
li{
    display: inline-block;
}
.link{
    background-color: rgba(255, 255, 255, 0.199);
    padding: 25px 40px;
    margin-left: 20px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: .5s;
}
a:hover{
    background: white;
    font-weight: 200;
    color: black;
}
