body{
     background: white;
}
h1{
    transform: translate(200px,100px);
    color: white;
    font-size: 50px;
    text-align: center;
}
nav{
    float: right;
    
}
.back{
    transform:translate(20%,30%);

}
ul{

}
li{
    display: inline-block;
}
a{
    background-color: rgba(255, 255, 255, 0.199);
    padding: 25px 40px;
    margin-left: 20px;
    text-decoration: none;
    color: black;
    font-size: 20px;
    transition: .5s;
}
a:hover{
    background: white;
    font-weight: 200;
    color: black;
}
