body{
    background-image: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),url('co_ordinator_register.jpg');
    background-size: cover;
    background-position-y: -150px;
}
.input{
    position: relative;
}

.reg_form{
    
    align-items: center;
    justify-content: center;
    padding-left: 900px;
    display: flex;
    font-size: 50px;
    border: none;   
}


.inputt,.username{
    text-align: center;
    font-size: large;
    border: none;
    border-collapse: inherit;
    background: rgba(255, 255, 255, 0.308);
    border-bottom:0.5px solid white;
    border-radius: 50px;
    width: 100%;
    height:50px;
}

.submit{
    margin-top: 20px;
    font-size: 20px;
    padding-top:20px;
    padding-bottom: 20px;
    width: 75%;
    border-radius: 50px;
    border: none;
    background-color: rgba(255, 255, 255, 0.664);
    transition: .25s;
    text-transform: uppercase;
}
.submit:hover{
    background-color: white;
    box-shadow: 1px 1px 10px white;
    
}
.input .lbl{
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    transition: .5s;
    padding: 13px 0;
    margin-left: 200px;
    font-size: 30px;
    margin-top: 6px;
    
}
.input{
    margin-top: 0px;
}
.inputt:focus ~ label,
.inputt:valid ~ label{
    top: -18px;
    left: -150px;
    color: white;
    font-size: 29px;
    font-weight: 1000;
}
textarea:focus,.inputt:focus{
    outline: none;
}