<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{url_for('static',filename='no_team.css')}}">
        <title>Project</title>
                                                                    <link rel="stylesheet" href="http://www.srit.ac.in/css/main_style.css" />

    </head>
    <body>
      <marquee class="sec_head" attribute_name = "attribute_value"....more attributes>
   SRIT-COMMUNITY SERVICE PROJECT--mentor no team
</marquee>
    <img style="margin-left:30%" class="img img-responsive" id="mainBannerLogo" src="http://www.srit.ac.in/images/logo-autonomous-new4.jpg" alt="Srinivasa Ramanujan Institute of Technology"></center>
    <hr>
             <button class="back" onclick="location.href = '{{url_for('home')}}'" style="text-align:right;padding:10px 20px;margin-left:10px">< Go Back</button>

   <h1>YOU DIDN'T SELECTED A TEAM YET!!!!</h1>


</body>
</html>