<!DOCTYPE html>
<html>

    <head>


        <link rel="stylesheet" href="{{url_for('static',filename='log.css')}}">
        <title>login form</title>
            <link rel="stylesheet" href="http://www.srit.ac.in/css/main_style.css" />

    </head>

<body>


        <marquee class="sec_head" attribute_name = "attribute_value"....more attributes>
   SRIT-COMMUNITY SERVICE PROJECT--student register
</marquee>
    <img style="margin-left:30%" class="img img-responsive" id="mainBannerLogo" src="http://www.srit.ac.in/images/logo-autonomous-new4.jpg" alt="Srinivasa Ramanujan Institute of Technology"></center>
    <hr>
<center>
    <h1>Student Register</h1>
</center>

 <form action="{{url_for('register')}}" method="post">
      {% block content %}



  <div class="imgcontainer">
    <img src="https://www.w3schools.com/howto/img_avatar2.png" alt="Avatar" class="avatar">
  </div>
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

    {% block page_content %}{% endblock %}
</div>
{% endblock %}
  <div class="container">

    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username" class="username" required>
       <label for="uname"><b>Email</b></label>
    <input type="text" placeholder="Enter Email Id" name="email" class="email" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" class="password" required>
          <label for="psw"><b>Confirm Password</b></label>

      <input id='confirm_password' name="confirm_password" placeholder="confirm password" type="password" class="inputt" required>

                <label for="psw"><b>Roll No</b></label>

                              <input type="text" id='roll_no' placeholder="enter your Roll No" name="roll_no"  class="inputt" required>


                        <label class="lbl" for="inputt">Branch</label>

                                    <label style="color:black;font-size:100%;">Select Your Branch</label>
                                  <select style="width:10%;height:10%;" name="student-year" id="student-year" class="student-year">

                                  <option value="CSE">CSE</option>
                                  <option value="ECE">ECE</option>
                                  <option value="EEE">EEE</option>
                                  <option value="CIVIL">CIVIL</option>
                                    <option value="MECH">MECH</option>
                                </select>
                        <button class="sub" type="submit">Register</button>

  </div>

  <div class="container" style="background-color:#f1f1f1">
          <a class="cancelbtn" href="{{url_for('login')}}" style="color:white;margin-left:40%;">Login Here</a>

  </div>


</form>
</body>
</html>