<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{url_for('static',filename='team.css')}}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>no-team</title>
                <link rel="stylesheet" href="http://www.srit.ac.in/css/main_style.css" />

</head>

<style>
    body{

                background: white;
    }

</style>

<body>
 <marquee class="sec_head" attribute_name = "attribute_value"....more attributes>
   SRIT-COMMUNITY SERVICE PROJECT--mentor register
</marquee>
    <img style="margin-left:30%" class="img img-responsive" id="mainBannerLogo" src="http://www.srit.ac.in/images/logo-autonomous-new4.jpg" alt="Srinivasa Ramanujan Institute of Technology"></center>
    <hr>
              <button class="back" onclick="location.href = '{{url_for('home')}}'" style="text-align:right;padding:10px 20px;margin-left:10px">< Go Back</button>


    <form  action="{{url_for('mentor_team')}}" method="POST">
    
        <select name="selection">
            {% for team in teams %}
            {% for name in team %}
            <option>{{name}}</option>

            {% endfor %}

        {% endfor %}
                          </select>

        <button type="submit" class="submit" name="select-team" >select team</button>
    </form>


    <table>
        <th>Team Name</th>  <th>Project</th>

        {% for team in data %}
        <tr>
            {% for t in team %}
            <td>{{t}}</td>
            {% endfor %}

        </tr>

         {% endfor %}


    </table>


    
    
</body>
</html>